canvas {
    border: 1px solid black;
}
body {
    margin: 0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigText {
    position: relative;
    left: -50%;
    top: -10vh;

    text-align: center;
    font-family: "Poiret One";
    font-size: 9vmin;
    color: white;
    background-color: "black";
}

.smallText {
    position: relative;
    left: -50%;
    top: 10vh;

    text-align: center;
    font-family: "Poiret One";
    font-size: 3vmin;
    color: white;
    background-color: "black";
    display: none;
}

.enter {
    position: relative;
    left: -50%;
    top: -10vmin;
    width: 5em;

    margin: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    border-style: groove;
    padding: 5px 0px 5px 0px;
    color: white;
    font-size: 9vmin;
    font-family: "Poiret One";
    background-color: "black";
    cursor: pointer;
    display: none;
}

.noselect {
    user-select: none;
}
